.linkButton {
  position: relative;
  font-family: 'League Gothic';
  font-size: 32px;
  text-transform: uppercase;
  color: cornflowerblue;
  text-decoration: none;

  &::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #0087ca;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }

  &:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
}

.toolBar {
  display: flex;
  justify-content: space-around;
}
