.container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.root {
  display: flex;
  align-items: center;
  column-gap: 52px;
  font-family: 'League Gothic';
  font-size: 36px;
}

.colorBlue {
  color: cornflowerblue;
}

.colorPink {
  color: deeppink;
}

.charImage {
  border-radius: 50%;
}
